
<div class="justify-content-between d-flex align-items-center">
    <h1>@ViewData["PageTitle"]</h1>
    <a href="javascript:history.back()" class="btn btn-outline-secondary">Geri</a>
</div>
<hr mb-4>