<div class="d-flex justify-content-between align-items-center my-3">
    <h2>@ViewData["Title"]</h2>
    <a class="btn btn-outline-success" href="@ViewData["ActionUrl"]"> @ViewData["ButtonText"]</a>
</div>
<hr>